@font-face {
  font-family: 'BebasNeueBold';
  src: url('../assets/fonts/BebasNeueBold.woff'); 
}
  
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../assets/fonts/BebasNeueRegular.woff'); 
}
  
@font-face {
  font-family: 'CenturyGothic';
  src: url('../assets/fonts/CenturyGothic.woff'); 
}
  