@font-face {
  font-family: 'BebasNeueBold';
  src: url('../assets/fonts/BebasNeueBold.ttf'); 
}
  
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../assets/fonts/BebasNeueRegular.ttf'); 
}
  
@font-face {
  font-family: 'CenturyGothic';
  src: url('../assets/fonts/CenturyGothic.ttf'); 
}
  